body{
    text-align: justify;
    container-type: inline-size;
}

table {
    overflow-x: auto;
    white-space: nowrap;
    width: 100% !important;
}

li{
    list-style-type: '- ';
}

.styled-output {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

.quarto-title > h1.title {
    display: none !important;
}